{% extends 'base.html.twig' %}

{% block title %}Войти{% endblock %}

{% block body %}
  <main class="vh-100 d-flex justify-content-center align-items-center bg-light-subtle p-5">
    <div class="shadow-lg px-5" style="width: 400px; max-width: 75%;">
      {% if app.user %}
        <div class="my-5 font-weight-normal text-center fs-4">
          <h1 class="h3">Вы вошли как:</h1>
          <div class="mb-3 fw-bold">{{ app.user.userIdentifier }}</div>
          <div class="btn-group w-100">
            <a href="{{ path('app_start') }}" class="btn btn-outline-dark rounded-0">Схема</a>
            <a href="/my" class="btn btn-outline-dark">Кабинет</a>
            <a href="{{ path('app_logout') }}" class="btn btn-outline-dark rounded-0">Выход</a>
          </div>
        </div>
      {% else %}
        {% if error %}
          <div class="alert alert-danger my-3">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form method="post">
          <h1 class="h3 my-5 font-weight-normal text-center">Вход</h1>
          <div class="input-group mb-3">
          <span class="input-group-text rounded-0" id="username">
            {{ ux_icon('material-symbols:alternate-email') }}
          </span>
            <label for="username" hidden="hidden">Email</label>
            <input type="email"
                   value="{{ last_username }}"
                   name="_username"
                   id="username"
                   class="form-control rounded-0"
                   autocomplete="email"
                   placeholder="email"
                   required autofocus
            >
          </div>

          <div class="input-group mb-3">
          <span class="input-group-text rounded-0" id="password">
            {{ ux_icon('material-symbols:key-sharp') }}
          </span>
            <label for="password" hidden="hidden">Пароль</label>
            <input type="password"
                   name="_password"
                   id="password"
                   class="form-control rounded-0"
                   autocomplete="current-password"
                   placeholder="Пароль"
                   required>
          </div>

          <div class="d-flex justify-content-between">
            <div class="form-check mb-3">
              <input class="form-check-input rounded-0"
                     type="checkbox"
                     name="_remember_me"
                     id="remember_me" checked>
              <label class="form-check-label" for="remember_me">
                Запомнить меня
              </label>
            </div>
            <a href="{{ path('app_register') }}" class="text-dark">Зарегистрироваться</a>
          </div>

          <input type="hidden" name="_csrf_token"
                 value="{{ csrf_token('authenticate') }}"
          >

          <div class="mb-5">
            <button class="btn btn-outline-dark w-100 rounded-0" type="submit">
              Войти
            </button>
          </div>
        </form>
      {% endif %}
    </div>
  </main>



  {#
  Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
  See https://symfony.com/doc/current/security/remember_me.html

  <div class="checkbox mb-3">
      <input type="checkbox" name="_remember_me" id="_remember_me">
      <label for="_remember_me">Remember me</label>
  </div>
  #}
{% endblock %}
