{% extends 'base.html.twig' %}

{% block title %}GTD{% endblock %}

{% block body %}
  <main class="container-fluid my-3">
    <div class="row">
      <div class="col-2">
        {{ include('leftMenu.html.twig') }}
      </div>

      <div class="col-10">
        {{ form_start(fastTaskForm) }}
        <div class="row">
          <div class="col-11">
            <label class="w-100">
              <input type="text"
                     class="form-control border-0 border-bottom border-dark rounded-0"
                     name="{{ field_name(fastTaskForm.name) }}"
                     autocomplete="off"
              placeholder="Добавить во входящие">
            </label>
            <input type="hidden"
                   name="{{ field_name(fastTaskForm.pid) }}"
                   value="{{ field_value(fastTaskForm.pid) }}">

            <input type="hidden"
                   name="{{ field_name(fastTaskForm.sort) }}"
                   value="{{ field_value(fastTaskForm.sort) }}">

            <input type="hidden"
                   name="{{ field_name(fastTaskForm.uid) }}"
                   value="{{ app.user.id }}">

            <label class="d-none">
              <input type="datetime-local"
                     name="{{ field_name(fastTaskForm.created_at) }}"
                     value="{{ field_value(fastTaskForm.created_at) }}">
            </label>
            <label class="d-none">
              <input type="datetime-local"
                     name="{{ field_name(fastTaskForm.updated_at) }}"
                     value="{{ field_value(fastTaskForm.updated_at) }}">
            </label>
          </div>
          <div class="col-1">
            <button type="submit" class="btn btn-outline-dark rounded-0 w-100">Добавить</button>
          </div>
        </div>
        {{ form_end(fastTaskForm) }}

        {% for item in item %}
          <div class="">{{ item.name }} | {{ item.type }}</div>
        {% endfor %}
      </div>

    </div>
  </main>

{% endblock %}
